[Unit]
Description=Dynamic Lock timer.

[Timer]
OnActiveSec=15s
# 每次运行后再次等待15秒
OnUnitActiveSec=15s  
Persistent=true

[Install]
WantedBy=timers.target